apiVersion: apps/v1
kind: Deployment
metadata:
 name: microservice-app
spec:
 replicas: 1
 selector:
   matchLabels:
     app: microservice
 template:
   metadata:
     labels:
       app: microservice
   spec:
     containers:
     - name: microservice
       image: 338861521662.dkr.ecr.us-east-1.amazonaws.com/app-eks:latest
       ports:
       - containerPort: 3000
       env:
       - name: DB_HOST
         value: database-2.ci9qo2yy2ygl.us-east-1.rds.amazonaws.com
       - name: DB_PASSWORD
         value: admin123
